
    <title>Welcome to Employee Reimbursement Portal</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
        }

        .welcome-message {
            text-align: center;
            margin-bottom: 20px;
        }

        .user-info {
            margin-bottom: 10px;
        }

        .button-container {
            text-align: center;
            margin-bottom: 20px;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 10px;
            transition: background-color 0.3s;
        }

        .button:hover {
            background-color: #0056b3;
        }

        .sign-out-button {
            background-color: #dc3545;
        }

        .sign-out-button:hover {
            background-color: #c82333;
        }
    </style>

<div class="container">
    <% if user_signed_in? %> 
        <div class="welcome-message">
            <div class="user-info"> Welcome <%= current_user.email %> </div> 
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "button sign-out-button" %> 
        </div>

        <div class="button-container">
            <%= link_to "Employee", employees_path, class: "button" %>
            <%= link_to "Add Department", new_department_path, class: "button" %>
            <%= link_to "Add Bill", new_bill_path, class: "button" %>
        </div>
    <% else %>
        <%= button_to "Sign in", new_user_session_path, method: :get, class: "button" %>
    <% end %>

</div>
